.row1{
    font-family: serif;
    height:360px;
    background-color:#8F8979 ;
    position:relative;
    max-width:100%;
}

.row1-text1{
    position: absolute;
    top:26.6%;
    left:22%;
    margin:0;
    color:#FFFEFD;
    font-weight: bold;
    font-size:1.75vw;
    text-align: center;
    text-transform: uppercase;   
}

.row1-line1{
    display:inline-block;
    position:absolute;
    top:50.2%;
    left:24.2%;
    width:22%;
    border:1px solid #FFFEFD;
}

.row1-dot{
    display:inline-block;
    position:absolute;
    top:48.3%;
    left:48%;
    width: 15px;
    height:15px;
    border-radius: 100%;
    background-color:#FFFEFD;
}

.row1-line2{
    display:inline-block;
    position:absolute;
    top:50.2%;
    left:50.5%;
    width:22%;
    border:1px solid #FFFEFD;    
}

.row1-text2{
    position: absolute;
    top:56.7%;
    left:31.5%;
    margin:0;
    color:#FFFEFD;
    font-weight: bold;
    font-size:0.9vw;
    text-align: center;
    text-transform: uppercase;
}

.row1-btn{
    position:absolute;
    top:69.5%;
    left:44.1%;
    height:27px;
    width:8.5%;
    text-align: center;
    text-transform: uppercase;
    background-color: #17A599;
    color:#FFFEFD; 
    font-weight: bold; 
    font-size:0.9vw;
    border:none;
}



