.row2{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.row2-col1{
    position:relative;
    flex:49%;
    max-width:49%;
    height:210px;
}

.row2-title{
    position:absolute;
    top:48px;
    left:30.3%;
    margin:0;
    font-size:1.65vw;
    background-color: #FFFFFF;
    color:#3D3D3D;
    text-transform: uppercase;
    font-weight: bold;
}

.row6-col1 span, .row2-col1 span{
    position:absolute;
    top:92px;
    left:30.3%;
    width:8.5%;
    border:1px solid black;
}

.row2-content{
    position:absolute;
    top:84px;
    left:42%;
    margin:0;
    font-size:0.65em;
    line-height: 1.6;
    color:#787878;
}

.row2-more{
    position:absolute;
    top:150px;
    left:42%;
    font-size:0.7em;
    font-weight: bold;
}

.row2-col2{
    flex:51%;
    max-width:51%;
    height:210px;
    background-color: #17A599;
}

canvas{
    margin:7% 0 0 3%;
    width:21.8%;
    height:120px;
    border:1px solid #FFFFFF;
}