.row3{
    display:flex;
    max-width:100%;
    flex-wrap: wrap;
    background-color: #3D3D3D;
}

.row3-col1{
    position:relative;
    flex:56%;
    max-width:56%;
    height:210px;   
}

.row3-col1 .container-box{
    position: absolute;
    left:28.5%;
    margin:0;
    height:100%;
    width:71.2%;
    background-color: #787878;
    padding:1%;
}

.container{
    border:1px solid #FFFFFF;
    height:100%;  
}

.row3-text1-line1{
    position: absolute;
    top:48px;
    left:17.8%;
    margin:0;
    color:#F9F9FA;
    font-weight: bold;
    font-size:1.65vw;
    text-align: center;
    text-transform: uppercase;
}

.row3-text1-line2{
    position: absolute;
    top:55px;
    left:34.5%;
    color:#2BD7C5;
    font-weight: bold;
    font-size:1.65vw;
    text-align: center;
    text-transform: uppercase;
}

.row3-line1{
    display:inline-block;
    position:absolute;
    top:114px;
    left:17.8%;
    width:29%;
    border:1px solid #FFFEFD;
}

.row3-dot{
    display:inline-block;
    position:absolute;
    top:111px;
    left:50%;
    width: 8px;
    height:8px;
    border-radius: 100%;
    background-color:#FFFEFD;
}

.row3-line2{
    display:inline-block;
    position:absolute;
    top:114px;
    left:54%;
    width:29%;
    border:1px solid #FFFEFD;
}

.row3-text2{
    position: absolute;
    top:130px;
    left:37.3%;
    margin:0;
    color:#FFFEFD;
    font-weight: bold;
    font-size:0.7em;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;  
}

.row3-col2{
    position:relative;
    flex:44%;
    max-width:44%;
    height:210px;
    color: #FEFEFE;
}

.row3-title{
    position:absolute;
    top:54px;
    left:4%;
    margin:0;
    font-size:1.65vw;
    text-transform: uppercase;
    font-weight: bold;
}

.row3-col2 span{
    position:absolute;
    top:98px;
    left:4%;
    width:9.5%;
    border:1px solid black;
}

.row3-content{
    position:absolute;
    top:90px;
    left:16.8%;
    margin:0;
    font-size:0.65em;
    line-height: 1.6;
}

.row3-more{
    position:absolute;
    top:156px;
    left:16.8%;
    font-size:0.7em;
    font-weight: bold;
}

